{% extends "base.html" %}


{% block head %}
{%endblock%}


{% block body %}

<div class="header">

    <div class="retbooks">
        <form method="POST" action="/userlist"> 
            <label for="user_att">Enter the username:</label>
            <input type="text" id="user_att" name="user_att">
            <button type="submit">Search</button> 
        </form> 
    </div>
    <div class="return">
        <form method="POST" action="/goback"> 
            <button type="submit">Go back</button> 
        </form> 
    </div>
    <form method="POST" action="/users_common"> 
        <button type="submit">Find users with books in common</button> 
    </form> 
</div>
{{data|safe}}
{%endblock%}